<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Courses</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <button onclick="window.location='/';" class="btn btn-primary btn-danger">Home</button>
        <p>&nbsp</p>
        <button onclick="history.back();" class="btn btn-primary btn-danger">Previous</button>
    </div>
    <br>
    <div class="row">
        <div class="box">
            <div class="col">
                {% if "/all" in request.path %}
                    <h3>All Courses</h3>
                {% elif "/crn/" in request.path %}
                    <h3>All courses with Course Registration Number "{{ output[0][2][1] }}"</h3>
                {% elif "/course_codes/" in request.path %}
                    <h3>All courses with Course Code "{{ output[0][1][1] }}"</h3>
                {% elif "/professors/" in request.path %}
                    <h3>All courses taught by professor(s) with name(s) "{{ output[0][9][1] }}"</h3>
                {% elif "/locations/" in request.path %}
                    <h3>All courses taught in location known as "{{ output[0][6][1] }}"</h3>
                {% elif "/old_distributions/" in request.path %}
                    <h3>All courses taught with old distributions "{{ output[0][8][1] }}"</h3>
                {% elif "/new_distributions/" in request.path %}
                    <h3>All courses taught with new distributions "{{ output[0][7][1] }}"</h3>
                {% elif "/users/" in request.path %}
                    <h3>Favorite courses for user "<a href="/user/{{ username|urlencode }}">{{ username }}</a>"</h3>
                {% else %}
                    <h3>{{ output[0][4][1] }} courses</h3>
                {% endif %}
                {% if output|length != 1 %}
                    <p>This course catalog features <b>{{ output|length }}</b> courses <a href="https://github.com/segalgouldn/sproj-course-catalog-parser">web-scraped</a> from Bard College's Course Catalog and <a href="https://github.com/segalgouldn/sproj-course-catalog-server">served</a> to you.</p>
                {% else %}
                    <p>This course catalog features <b>{{ output|length }}</b> course <a href="https://github.com/segalgouldn/sproj-course-catalog-parser">web-scraped</a> from Bard College's Course Catalog and <a href="https://github.com/segalgouldn/sproj-course-catalog-server">served</a> to you.</p>
                {% endif %}
                <small><p>This project is not maintained by Bard College. I am not liable for any mistakes you may encounter during its use.</p></small>
                <form>
                    <input type="text" class="form-control" name="search" placeholder="Search">
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="box">
            <div class="col">
                <div class="row justify-content-center">
                    <p>Sort by:</p>
                </div>
                <div class="row justify-content-md-center justify-content-sm-around">
                    <button onclick="window.location='?sort=course_registration_number';" class="btn btn-primary btn-danger">CRN</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=course_code';" class="btn btn-primary btn-danger">Course Code</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=new_distributions';" class="btn btn-primary btn-danger">New Distributions</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=old_distributions';" class="btn btn-primary btn-danger">Old Distributions</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=department';" class="btn btn-primary btn-danger">Department</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=semester';" class="btn btn-primary btn-danger">Semester</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=course_title';" class="btn btn-primary btn-danger">Course Title</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=professors';" class="btn btn-primary btn-danger">Professors</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=locations';" class="btn btn-primary btn-danger">Locations</button>
                    <p>&nbsp</p>
                    <button onclick="window.location='?sort=schedules';" class="btn btn-primary btn-danger">Schedules</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="page">
                {% for item in output %}
                    <table class="layout display responsive-table">
                        <thead>
                        <tr>
                            <th>CRN</th>
                            <th>Course Code</th>
                            <th>New Distributions</th>
                            <th>Old Distributions</th>
                            <th>Department</th>
                            <th>Semester</th>
                            <th>Course Title</th>
                            <th>Professors</th>
                            <th>Locations</th>
                            <th>Schedules</th>
                            <th>URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="CRN"><a href="/crn/{{ item[2][1] }}">{{ item[2][1] }}</a></td>
                            <td class="Course Code"><a href="/course_codes/{{ item[1][1]|urlencode }}">{{ item[1][1] }}</a></td>
                            <td class="New Distributions">
                                {% if item[7][1] == "" %}
                                    None
                                {% else %}
                                    <a href="{{ "/new_distributions/" + item[7][1]|urlencode }}">{{ item[7][1] }}</a>
                                {% endif %}
                            </td>
                            <td class="Old Distributions">
                                {% if item[8][1] == "" %}
                                    None
                                {% else %}
                                    <a href="{{ "/old_distributions/" + item[8][1]|urlencode }}">{{ item[8][1] }}</a>
                                {% endif %}
                            </td>
                            <td class="Department"><a href="/departments/{{ item[4][1] }}">{{ item[4][1] }}</a></td>
                            <td class="Semester"><a href="/semesters/{{ item[11][1] }}">{{ item[11][1] }}</a></td>
                            <td class="Course Title">{{ item[3][1] }}</td>
                            <td class="Professors">
                                {% if item[9][1] == "" %}
                                    None
                                {% else %}
                                    <a href="/professors/{{ item[9][1]|urlencode }}">{{ item[9][1] }}</a>
                                {% endif %}
                            </td>
                            <td class="Locations"><a href="/locations/{{ item[6][1]|urlencode }}">{{ item[6][1] }}</a></td>
                            <td class="Schedules">{{ item[10][1] }}</td>
                            <td class="URL"><a href="{{ item[12][1] }}">{{ item[4][1] + " " + item[11][1] }}</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="display">
                        <thead>
                        <tr>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="Description">
                                <div class="container-fluid">
                                    <div class="row">
                                        <p>{{ item[5][1] }}</p>
                                    </div>
                                    <div class="row">
                                        <p><b><a href="https://www.ratemyprofessors.com/search.jsp?queryoption=HEADER&queryBy=teacherName&schoolName=Bard+College&schoolID=82&query={{ item[9][1]|urlencode }}">Search for this course's instructor on Rate My Professors</a></b>.</p>
                                    </div>
                                    <div class="row">
                                        <p><b>Add or remove from favorites:</b></p>
                                    </div>
                                    <div class="row">
                                        <button onclick="window.location='/add_course/{{ item[0][1] }}';" class="btn btn-primary btn-danger">Add</button>
                                        <p>&nbsp</p>
                                        <button onclick="window.location='/remove_course/{{ item[0][1] }}';" class="btn btn-primary btn-danger">Remove</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                {% else %}
                    <tr>
                        <td>Nothing to show</td>
                    </tr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
</html>