<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fall 2014 through Fall 2017</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3>Departments List</h3>
            <p>This course catalog features <b>{{ output|length }}</b> departments <a href="https://github.com/segalgouldn/sproj-course-catalog-parser">web-scraped</a> from Bard College's Course Catalog.</p>
            <small><p>As a part of my Senior Project, this site is still a work-in-progress. I am not liable for any mistakes you may encounter during its use.</p></small>
            <form>
                <input type="text" name="search" placeholder="Search...">
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="rwd-table">
                <tr>
                    <th>Department</th>
                </tr>
                {% for item in output %}
                    {% if "/semesters/" in request.path %}
                    <tr>
                        <td data-th="Department"><a href="{{ request.path + "/" + item }}">{{ item }}</a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td data-th="Department"><a href="{{ "/departments/" + item }}">{{ item }}</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>