<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <button onclick="window.location='/';" class="btn btn-primary btn-danger">Home</button>
        <p>&nbsp</p>
        <button onclick="history.back();" class="btn btn-primary btn-danger">Previous</button>
    </div>
</div>
<br>
{% if username %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col">
                    <h4>Welcome back <a href="/user/{{ username|urlencode }}">{{ username }}</a></h4>
                    <p><a href="{{ url_for('logoff') }}">Log off</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
{% else %}
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col">
                    <p><b>Log in (or <a href="{{ url_for('register') }}">register</a>):</b></p>
                    <form method=POST action="{{ url_for('login') }}">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="pass" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary btn-danger">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endif %}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col">
                {% if error %}
                    <h2>Error:</h2>
                    <p>{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
</html>